mixin first()
	section.section-first
		div.section-first__description
			div.container
				div.column.column--tree-items
					h1.section-first__description__title.glitch(data-text='THE F$?RE O# L#!T LIVI%G') THE FUTURE OF LOFT LIVING
					p.section-first__description__text Don't wait for what will happen. Freedom of space is freedom of mind. You are VANGUARD and you set the direction with us.
					a.section-first__description__button.button(href='#')
						span.caption play video

		div.section-first__more
			div.column.column--more
				a(href='') PROJECT BY PSN 2017
				a(href='') READ MORE


		div.section-first__anchor
			.owl-carousel.owl-theme.slideWrap
				.item.item--first
					//img.story-image(src='img/carousel-header/head1.1.jpg')
					//div.item__description
					//	h1.item__description__title Some text for first item
				.item.item--second
					//img.story-image(src='img/carousel-header/head1.2.jpg')
					//div.item__description
					//	h1.item__description__title Some text for second item

				.item.item--third
					//img.story-image(src='img/carousel-header/head1.3.jpg')
					//div.item__description
					//	h1.item__description__title Some text for third item
