mixin second()
	section#about.section-second
		div.container.container--second
			.figure-second
				.box
					.top
					.right
					.bottom
					.left
			div.container-inner
				//.column.column--two-items
				.column.column--two-items.clearfix
					div.about-description.column-header
						h2#about-title.column-header__title(data-text='ABO#T U%') ABOUT US
						p.column-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently font-family: 'Catamaran', sans-serif;

				.column.column--two-items
					img.story-image(src='img/second-section/second2.jpg')
