mixin third()
	section#menu.section-third
		div.container.container--third
			div.container-inner
				.column.column--two-items
					img.story-image.story-image--menu(src='http://lofthall.ru/loft2/mobile/img/cont/4.jpg')

				.column.column--two-items
					div.menu-description.column-header
						h2#about-title.column-header__title.column-header__title--dark(data-text='M#T%') MENU
						p.column-text.column-text--light Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
						a.section-first__description__button.button.button--menu(href='#')
							span.caption menu