mixin gallery-section ()
	section.section-gallery
		div.container.container--gallery
			h1.heading Paginate anything!
			p.heading
				| Take any set of elements, regardless of their children (or parent). Apply the paginate method to them.
				strong Voila!
			.article-loop
				h3 Article 1
				div.article-loop__image-container

					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
			.article-loop
				h3 Article 2
				div.article-loop__image-container

					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
			.article-loop
				h3 Article 3
				div.article-loop__image-container

					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='https://media-cdn.tripadvisor.com/media/photo-s/06/db/75/4f/city-loft-ltd.jpg')
				h3 Article 4
				p
					| Lorem ipsum set dolor amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas incidunt soluta.
			.article-loop
				h3 Article 5
				p
					| Lorem ipsum set dolor amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, ad earum minus illo recusandae vitae fuga laboriosam facilis omnis autem.
			.article-loop
				h3 Article 6
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 7
				p Lorem ipsum set dolor amet. Lorem ipsum.
			.article-loop
				h3 Article 8
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 9
				p
					| Lorem ipsum set dolor amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus et qui id atque.
			.article-loop
				h3 Article 10
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 11
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 12
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 13
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 14
				p Lorem ipsum set dolor amet.
			.article-loop
				h3 Article 15
				p Lorem ipsum set dolor amet.
