mixin header()
	header.header
		div.container
			nav.navigation
				ul.navigation__list
					li.navigation__list__item
						a.navigation__list__item__link(href='#menu') menu
					li.navigation__list__item
						a.navigation__list__item__link(href='#about') about us
					li.navigation__list__item
						a.navigation__list__item__link(href='gallery.html') gallery
					li.navigation__list__item
						a.navigation__list__item__link(href='booking.html') reserve
					li.navigation__list__item
						a.navigation__list__item__link(href='#chief') chief
					li.navigation__list__item
						a.navigation__list__item__link(href='#contact') contact